/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;

}



#countlabel{
    
    font-size: 10rem;
    text-align: center;
    font-family:'calculator', sans-serif;
    border: black solid 2px;
    border-radius: 40px;
    background-color: rgba(128, 128, 128, 0.164);
    margin-bottom: 10px;
    
}

#btns{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Btn{
    font-size: 1.5em;
    padding: 10px 20px;
    border: solid black 2px;
    border-radius: 40px;
    background-color: rgba(127, 255, 212, 0.562);
}

.Btn:hover{
    background-color: rgb(127, 255, 212);
}

@media (max-width:422px){
    

    #btns{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      
    
    }

    #btns > button{
        margin-top: 10px;
    }
}